* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../img/background_wood.jpg") no-repeat;
    margin: 20px 12%;
}

/*header */

header {
    color: white;
    position: relative;
    height: 250px;
    background: rgba(0, 0, 0, 0.50) url("../img/header.jpg") no-repeat;
    border: 7px solid white;
}

/*titolo header bianco e centrato*/

#title {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*stile h1 del titolo*/

#title h1 {
    border: 4px solid white;
    font-size: 3em;
    padding: 10px 10px;
    text-align: center;
}

/*stile h2 del titolo*/

#title h2 {
    text-align: center;
    padding-top: 20px;
}

/*barra di navigazione grigia*/

nav {
    background-color: grey;
    text-align: center;
    min-height: 4em;
    height: auto;
    position: relative;
}

/*link di navigazione*/
#link-list{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#link-list li {
    list-style: none;
    color: white;
    display: inline-block;
    margin: 10px 10px;
    font-size: 15px;
}

/*imposto la sezione principale*/

#body-content {
    height: auto;
}

/*imposto margine colonne*/

.column {
    margin-top: 10px;
    margin-bottom: 30px;
}

/* barra degli rss bianca a sinistra*/

#rss-column {
    background-color: white;
    float: left;
    width: 20%;
    height: 300px;
}

/* colonna dell'articolo*/

#article-column {
    background-color: white;
    float: left;
    width: 50%;
    height: 400px;
    margin: 10px 5%;
}

/*colonna dei widget*/

#widget-column {
    float: right;
    width: 20%;
    height: auto;
}

/*stile contenuti widget*/

.widget-content {
    height: 140px;
    background-color: white;
    margin-bottom: 10px;
}

/*clearfix #body-content*/

#body-content::after {
    content: "";
    display: table;
    clear: both;
}

/*stile footer*/

footer {
    background-color: white;
    color: rgb(209, 202, 202);
    min-height: 150px;
    position: relative;
    text-align: center;
}

/*aggiungo margine a autore*/
#autore{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.25em;
    font-style: italic;
}
/*hr del footer*/
.line{
    color: black;
    padding: 0 2px;
}

/*riga delle icone*/
#social-buttons-row div{
    display: inline-block;
    width: 30%;
    height: 50px;
    position: relative;
    padding-top: 20px;

}

.facebook, .instagram{
    float:left;
}

.instagram{
    margin: 0 5%;
}

.github{
    float: right;
}

/*imposto dimensione delle immagini*/
.github img, .instagram img, .facebook img{
    width: 32px;
    height: 32px;
}

/*arrotonda bordi di alcuni elementi*/
.border-round{
    border-radius: 5px;
}