* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../img/background_wood.jpg") no-repeat;
    background-size: cover;
    margin: 20px 10%;
}

/*header */

header {
    color: white;
    height: 300px;
    background: rgba(0, 0, 0, 0.50) url("../img/header.jpg") no-repeat;
    background-size: cover;
    border: 7px solid white;
    text-align: center;
}

/*titolo header bianco e centrato*/

 #title-container {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: relative;
    margin-top: 40px;
} 
/*stile h1 del titolo*/

#title {
    border: 5px solid white;
    font-size: 2em;
    margin: 0 32%;
}

/*stile h2 del titolo*/

#subtitle {
    margin-top: 70px;

}

/*barra di navigazione*/

nav {
    background-color: grey;
    height: auto;
    position: relative;
}

.nav-link {
    display: inline-block;
    width: 11%;
    margin: 1.3%;
    text-align: center;
}

.nav-link a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

/*imposto la sezione principale*/

#body-content {
    height: auto;
}

/*imposto margine colonne*/

.column {
    margin-top: 10px;
    margin-bottom: 30px;
}

/*imposto padding per elementi interni alle colonne*/

.column-inside {
    padding: 5%;
}

/* barra degli rss bianca a sinistra*/

#rss-column {
    background-color: white;
    position: relative;
    float: left;
    width: 20%;
    height: auto;
}

/* stile bottone e titolo rss*/

#rss-title, #rss-button {
    display: inline-block;
}

#rss-button {
    float: left;
    margin: 7px 7px 0 0;
}

#rss-title {
    font-size: 1.5em;
}

/*stili articoli rss*/

#rss-articles article {
    padding: 20px;
}

#rss-articles a {
    color: green;
    text-decoration: none;
}

/* colonna dell'articolo*/

#article-column {
    background-color: white;
    float: left;
    width: 50%;
    height: auto;
    margin: 10px 5%;
}

/*titolo dell'articolo*/

#article-title {
    font-size: 2em;
    text-shadow: 1px 1px #504741;
}

/*corpo dell'articolo*/

#article-column article {
    padding-top: 20px;
    line-height: 1.5;
}

/*colonna dei widget*/

#widget-column {
    float: right;
    width: 20%;
    height: auto;
}

/*stile contenuti widget*/

.widget-content {
    height: auto;
    background-color: white;
    margin-bottom: 10px;
}

/*Stile titolo widget*/

#widget-column h3 {
    font-size: 1.2em;
    padding: 10px;
}

/*stile articolo widget*/

#widget-column article {
    padding-top: 20px;
    line-height: 1.5;
}

/*clearfix #body-content*/

#body-content::after {
    content: "";
    display: table;
    clear: both;
}

/*stile footer*/

footer {
    background-color: white;
    color: rgb(209, 202, 202);
    min-height: 150px;
    position: relative;
    text-align: center;
}

/*aggiungo margine a autore*/

#autore {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.25em;
    font-style: italic;
}

/*hr del footer*/

.line {
    color: black;
    padding: 0 2px;
}

/*riga delle icone*/

#social-buttons-row div {
    display: inline-block;
    width: 30%;
    height: 50px;
    position: relative;
    padding-top: 20px;
}

.facebook, .instagram {
    float: left;
}

.instagram {
    margin: 0 5%;
}

.github {
    float: right;
}

/*imposto dimensione delle immagini*/

.github img, .instagram img, .facebook img {
    width: 32px;
    height: 32px;
}

/*arrotonda bordi di alcuni elementi*/

.border-round {
    border-radius: 5px;
}


/*imposto font header e navbar*/
header, nav, footer{
    font-family: 'Montserrat', sans-serif;
}

/*font titoli corpo*/
.column-inside{
    font-family: 'Roboto', sans-serif;
}

/*stile titoli colonna centrale e colonna widget*/
h3,h5,
#article-column article,
#widget-column article{
    color: #504741;
} 




